{% extends 'base.html.twig' %}

{% block title %}New WeatherForecast{% endblock %}

{% block body %}
    <h1>Create new WeatherForecast</h1>

    {{ include('weather_forecast/_form.html.twig') }}

    <a href="{{ path('app_weather_forecast_index') }}">back to list</a>
{% endblock %}
